:root{
  --dark-green: #61892f;
  --light-green: #3fff6c;
  --dark: #222629;
  --dark-gray: #474b4f;
  --gray: #6b6e70;
  --font-1: ;font-family: 'Work Sans', sans-serif;
  /* --font-2: ;font-family: 'Taviraj', serif; */
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  font-family: var(--font-1);
}

.navbar{
  background-color: var(--gray);
}

#mainNavbar .nav-link, .links a{
  color: white;
}

#mainNavbar .nav-link:hover, .links a:hover{  
  color:var(--light-green);
}

#mainNavbar .navbar-brand{
  color: var(--gray);
}


.fa-code{
  color: var(--light-green);

}

/* Home */
#vanta-canvas{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
}

.hero h2{
  font-weight: 400;
  font-size: 4.5em;
  letter-spacing: 1.2px;
  color: var(--light-green);
}

.hero h3{
  font-weight: 300;
  font-size: 2.2em;
  letter-spacing: 1.2px;
  color: white;

}

/* Home End */

/* Portfolio Section */
#work{
  padding: 0 0 50px;
}

.work-head{
  color: white;
  font-weight: 400;
  font-size: 3em;
  margin: 0 auto 35px auto;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--light-green);
  text-align: center;
  width: 30%;
  min-width: 228px;
  letter-spacing: .1em;
}

.grid-container{
  margin: 0 30px 50px;
}

.grid-item{
  display: flex;
  border: 1px solid var(--gray);
  min-height: 200px;
  border-radius: 5px;
  overflow: hidden;
}

.label{
  background: rgba(34,38,41,.75);
  width:100%;
  padding: 50px 15px 10px 5px;
  text-align: center;
  position: relative;
  bottom: 1400px;
  transition: .3s;
}

.grid-item:hover .label{
  bottom: 0px;
}

.label h3{
  font-size: 2em;
  font-weight: 400;
  color: white;
}

.label h4{
  font-size: 1em;
  color: var(--light-green);
}

.links{
  color: white;
}

.work-1{
  /* background-image: url(../images/eat-out-austin.png);
  background-size: cover; */
}

.work-2{
  /* background-image: url(../images/coding-quiz.png);
  background-size: cover; */
}

.work-3{
  /* background-image: url(../images/safe-travels.png);
  background-size: cover; */
}

.work-4{
  /* background-image: url(../images/weather-dashboard.png);
  background-size: cover; */
}

.work-5{
  /* background-image: url(../images/day-scheduler.png);
  background-size: 120%;
  background-position: cover; */
}

.work-6{
  /* background-image: url(../images/day-scheduler.png);
  background-size: 120%;
  background-position: cover; */
}

/* Portfolio Section End */

/* Footer Section */
#contact-me{
  background: var(--dark);
  color:white;
  padding: 5px 0 10px;
}

#contact-me div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.contact-head{
  padding-right: 10px;
  border-right: 2px solid var(--light-green);
  text-align: right;
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 4px;
  min-width: 300px;
}

.contacts a{
  color: white;
  margin: 0 1em;
  
}

.contacts a:hover{
  color: var(--light-green);
}

footer h3{
  text-align: center;
  padding-top: 20px;
  font-size: .75em;
  letter-spacing: .2em;
}
/* Footer Section End */


