:root{
  --dark-green: #61892f;
  --light-green: #3fff6c;
  --dark: #222629;
  --dark-gray: #474b4f;
  --gray: #6b6e70;
  --font-1: ;font-family: 'Work Sans', sans-serif;
  /* --font-2: ;font-family: 'Taviraj', serif; */
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  
}

body{
  font-family: var(--font-1);

}

h1, h2, h3, h5, h6, label, p, img, ul{
  color: white;
}

h4{
  color: #222629;
}

.title{
  font-weight: 300;
  font-style: normal;
  border-bottom: white 1px;
  position: relative;
}



/* navbar */
#mainNavbar .nav-link, .resume:hover, .links a{
  color: white;
}

#mainNavbar .nav-link:hover, .resume, .links a:hover, .fa-code, .selected{  
  color:var(--light-green);
}

#mainNavbar .navbar-brand{
  color: var(--dark);
}

/* Home */
#vanta-canvas{
  width: 100%;
  height: 82vh;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
}

.hero h2{
  font-weight: 400;
  font-size: 4.5em;
  letter-spacing: 1.2px;
  color: var(--light-green);
}

.hero h3{
  font-weight: 300;
  font-size: 2.2em;
  letter-spacing: 1.2px;
  color: white;

}

/* Home End */

/* About */

#profile-img{
  src: url(../src/assets/images/Circle-Profile.png);
}

/* Portfolio Section */
#work{
  padding: 0 0 50px;
}
.work-head{
  color: white;
  font-weight: 400;
  font-size: 3em;
  margin: 0 auto 35px auto;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--light-green);
  text-align: center;
  width: 30%;
  min-width: 228px;
  letter-spacing: .1em;
}

.grid-container{
  margin: 0 30px 50px;
}

.grid-item{
  display: flex;
  border: 1px solid var(--gray);
  min-height: 200px;
  border-radius: 5px;
  overflow: hidden;
}

.label{
  background: rgba(34,38,41,.75);
  width:100%;
  padding: 50px 15px 10px 5px;
  text-align: center;
  position: relative;
  bottom: 1400px;
  transition: .3s;
}

.grid-item:hover .label{
  bottom: 0px;
}

.label h3{
  font-size: 2em;
  font-weight: 400;
  color: white;
}

.label h4{
  font-size: 1em;
  color: var(--light-green);
}

.links{
  color: white;
}

.work-1{
  background-image: url(../src/assets/images/eat-out-austin.jpg);
  background-size: cover;
}

.work-2{
  background-image: url(../src/assets/images/safe-travels.jpg);
  background-size: cover;
}
.work-3{
  background-image: url(../src/assets/images/tech-blog.jpg);
  background-size: cover;
}

.work-4{
  background-image: url(../src/assets/images/day-scheduler.jpg);
  background-size: 120%;
  background-position: cover;
}

.work-5{
  background-image: url(../src/assets/images/weather-dashboard.jpg);
  background-size: cover;
}

.work-6{
  background-image: url(../src/assets/images/coding-quiz.jpg);
  background-size: cover;
}

/* Portfolio Section End */

/* Contact */

#contact-form{
  position: relative;
}

#submit{
  background-color: var(--dark);  
  border-color: white;

}

#submit:hover{
  border-color: var(--light-green);
  outline: white;
}

/* Contact End */

.resume{
  position: relative;
}

/* Footer Section */
#contact-me{
  color:white;
  padding: 5px 0 10px;
  position: relative;
}

#contact-me div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.contact-head{
  padding-right: 10px;
  border-right: 2px solid var(--light-green);
  text-align: right;
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 4px;
  min-width: 300px;
}

.contacts a{
  color: white;
  margin: 0 1em;
  
}

.contacts a:hover{
  color: var(--light-green);
}

footer h3{
  text-align: center;
  padding-top: 20px;
  font-size: .75em;
  letter-spacing: .2em;
}
/* Footer Section End */


